<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body> <ul>
    <li>산술 연산 <ul>
        <li>10 + 2 = <span th:text="10 + 2"></span></li>
        <li>10 % 2 == 0 = <span th:text="10 % 2 == 0"></span></li>
    </ul>
    </li> <li>비교 연산
    <ul>
        <li>1 > 10 = <span th:text="1 &gt; 10"></span></li>
        <li>1 gt 10 = <span th:text="1 gt 10"></span></li>
        <li>1 >= 10 = <span th:text="1 >= 10"></span></li>
        <li>1 ge 10 = <span th:text="1 ge 10"></span></li>
        <li>1 == 10 = <span th:text="1 == 10"></span></li>
        <li>1 != 10 = <span th:text="1 != 10"></span></li>
    </ul> </li>
    <li>조건식 <ul>
        <li>(10 % 2 == 0)? '짝수':'홀수' = <span th:text="(10 % 2 == 0)? '짝 수':'홀수'"></span></li>
    </ul> </li>
    <li>Elvis 연산자 <ul>
        <li>${data}?: '데이터가 없습니다.' = <span th:text="${data}?: '데이터가 없습 니다.'"></span></li>
        <li>${nullData}?: '데이터가 없습니다.' = <span th:text="${nullData}?: '데이터가 없습니다.'"></span></li>
    </ul> </li>    <!-- nullData 는 데이터에 null 이 들어가 있으니깐 "데이터가 없습니다." 가 출력이 되면 된다.  -->
    <li>No-Operation
        <ul>
            <li>${data}?: _ = <span th:text="${data}?: _">데이터가 없습니다.</span></li>
<!--만약 data 변수가 null이 아니라면, data의 값을 사용합니다.
만약 data 변수가 null이라면, _ (underscore)를 사용합니다.
이 코드에서는 실제로 _가 출력되는 것이 아니라, "데이터가 없습니다."라는 텍스트가 출력됩니다. 이는 <span th:text="${data}?: _">데이터가 없습니다.</span> 부분 때문입니다. 이 부분은 data가 null인 경우에만 "데이터가 없습니다."라는 텍스트를 출력하도록 합니다.-->
            <li>${nullData}?: _ = <span th:text="${nullData}?: _">데이터가 없습니 다.</span></li>
        </ul> </li>
</ul>
</body>
</html>